  <mat-card>
    <mat-card-title>
        <h2>Teams</h2>
    </mat-card-title>
    <mat-chip-list>
      <mat-chip color="primary" selected *ngFor="let t of teams" (click)="showTeam(t)">{{ t.location }} {{ t.name }}</mat-chip>
    </mat-chip-list>
  </mat-card>

  <mat-card class ="tp-card">
      <mat-card-header>
          <mat-card-title>
              <h2>Upcoming Games</h2>
          </mat-card-title>
      </mat-card-header>
      <mat-list role="list" *ngFor="let ue of upcomingEvents">
        <mat-list-item role="listitem">{{ ue.dateEventLocal }} | {{ ue.strEventAlternate }}</mat-list-item>
      </mat-list>
  </mat-card>


  <mat-card class ="tp-card">
      <mat-card-header>
          <mat-card-title>
              <h2>Recent Games</h2>
          </mat-card-title>
      </mat-card-header>
      <mat-list role="list" *ngFor="let re of recentEvents">
        <mat-list-item role="listitem">{{ re.dateEventLocal }} - {{ re.strAwayTeam }} : {{ re.intAwayScore }} | {{ re.intHomeScore }} : {{ re.strHomeTeam }}</mat-list-item>
      </mat-list>
  </mat-card>


    <mat-card>
                <h2>Roster</h2>
    <mat-list>
     <mat-list-item *ngFor="let p of player">
       <img matListAvatar class="player-img" mat-card-image src="{{ p.strCutout }}" alt="{{ p.strPlayer }} cutout" alt="">
       <p matLine>{{ p.strPlayer }} - {{ p.strPosition }}</p>
       <p matLine>Height: {{ p.strHeight }}, Weight: {{ p.strWeight }}, DOB: {{ p.dateBorn }}, Birth Location: {{ p.strBirthLocation }} </p>
       <p matLine align>{{ p.strDescriptionEN }}</p>
       <mat-divider></mat-divider>
     </mat-list-item>
    </mat-list>
    </mat-card>

    <mat-card>
                <h2>News Feed</h2>
    <mat-list>
        <mat-list-item  *ngFor="let article of articles">
            <img matListAvatar src="{{ article.urlToImage }}" alt="">
            <p matLine>{{ article.publishedAt }} - {{ article.title }}</p>
            <p matLine>{{ article.description }}</p>
            <p matLine align><a href="{{ article.url }}" target="_blank">Click here to read more.</a></p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    </mat-card>
