<h1>{{ team }} Page</h1>

<div>
    <h2>Recent Scores</h2>
        <ul *ngIf="games">
            <li *ngFor="let game of games">
                <p class="name">{{ game.strEvent }}</p>
                <p class="name">{{ game.strHomeTeam }}</p>
                <p class="name">{{ game.strAwayTeam }}</p>
                <p class="name">{{ game.intHomeScore }}</p>
                <p class="name">{{ game.intAwayScore }}</p>
                <p class="name">{{ game.dateEvent }}</p>
            </li>
        </ul>

    <h3>Upcoming Games</h3>
        <ul *ngIf="games">
            <li *ngFor="let game of games">
                <p class="name">{{ game.strEvent }}</p>
                <p class="name">{{ game.strHomeTeam }}</p>
                <p class="name">{{ game.strAwayTeam }}</p>
                <p class="name">{{ game.dateEvent }}</p>
            </li>
        </ul>
</div>

<div>
    <h4>News Feed</h4>
    <mat-list dense *ngFor="let a of articles">
        <mat-list-item> <img src="{{ a.urlToImage }}" alt=""> {{ a.publishedAt }} | {{ a.title }} - {{ a.description }} <a href="{{ a.url }}" target="_blank">Continue reading...</a></mat-list-item>
    </mat-list>
</div>

<div>
    <h5>Twitter Feed</h5>
    <a class="twitter-timeline" href="https://api.twitter.com/1.1/search/tweets.json?q={team}"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>