<h1></h1>

<div>
    <h3>Recent Games</h3>
        <ul *ngIf="games">
            <li *ngFor="let game of games">
                <p class="events">{{ game.strEvent }}</p>
                <p class="events">{{ game.strHomeTeam }}</p>
                <p class="events">{{ game.strAwayTeam }}</p>
                <p class="events">{{ game.intHomeScore }}</p>
                <p class="events">{{ game.intAwayScore }}</p>
                <p class="events">{{ game.dateEvent }}</p>
            </li>
        </ul>

    <h3>Upcoming Games</h3>
        <ul *ngIf="games">
            <li *ngFor="let game of games">
                <p class="events">{{ game.strEvent }}</p>
                <p class="events">{{ game.strHomeTeam }}</p>
                <p class="events">{{ game.strAwayTeam }}</p>
                <p class="events">{{ game.dateEvent}}</p>
            </li>
        </ul>
</div>

<div>
    <h3>Roster</h3>

</div>

<div>
    <h3>News Feed</h3>
        
</div>

<div>
    <h3>Twitter Feed</h3>

</div>