<div class="main-div">
<mat-card class = "registration-card">
    <mat-card-header>
        <div class="login-box-header">
        <mat-card-title>Registration</mat-card-title>
    </div>
    </mat-card-header>
    <mat-card-content>
        <form class="registration-form">
            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="FirstName" [(ngModel)]="firstname" name="firstname" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                    <input matInput placeholder="LastName" [(ngModel)]="lastname" name="lastname" required>
                    </mat-form-field></td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                    <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
                    </mat-form-field></td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                    <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password" required>
                    </mat-form-field></td>
                </tr>
            </table>
        </form>
        <!-- <mat-progress-spinner [style.display] ="showSpinner ? 'block' : 'none'"></mat-progress-spinner> -->
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="submit()" color="primary">submit</button>
    </mat-card-actions>
  </mat-card>