.main-div{
<<<<<<< HEAD
  height: 50vh;
=======
  height: 70vh;
>>>>>>> c413ca34c8dcd76413381f7f87189d9cb789259a
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  } */