<mat-card-title-group>
    <mat-card-title>
       Team Search
    </mat-card-title>
    <mat-form-field appearance="outline">
ID: <input matInput type ="search" [(ngModel)] = "id">
<button mat-raised-button (click)= "searchById()">Search Team by ID</button>
</mat-form-field>

<div *ngIf="response">
<p>Team name: {{response.name}}</p>
<p>City: {{response.city}}</p>
<p>Conference: {{response.conference}}</p>
<p>Full Name: {{response.full_name}}</p>
<p>Abbreviation: {{response.abbreviation}}</p>
<p>Division: {{response.division}}</p>
</div>
</mat-card-title-group>
