<h3>

  Welcome to LEES Leagues. You can follow your favorite sports teams and players
  and get the latest news, statistics, and games schedules. To view information
  on your teams, register with us and sign in.
</h3>\

<app-login-form *ngIf="loginToggle"></app-login-form>
<app-registration-form *ngIf="!loginToggle"></app-registration-form>
<a *ngIf="loginToggle" (click)="toggleForm()">Don't have an accout? Click here to register</a>
<a *ngIf="!loginToggle" (click)="toggleForm()">Already have an account? Sign in.</a>
