
<mat-list role="list" *ngFor="let g of gameSchedule">
  <mat-list-item role="listitem">{{ g.dateEventLocal }} | {{ g.strTimeLocal }} - {{ g.strEventAlternate }}</mat-list-item>
</mat-list>


<mat-paginator #paginator [pageSize]="pageSize" 
                          [pageSizeOptions]="[5]" 
                          [showFirstLastButtons]="true" 
                          [length]="totalSize"
                          [pageIndex]="currentPage" 
                          (page)="pageEvent = handlePage($event)">
</mat-paginator>


