<mat-card>
  <mat-card-content>
    <h2>Settings</h2>
    <h3>Username</h3>
    <form class = "example-form">

<table class="full-width-input" cellspacing="0">
  <tr>
      <td>

<mat-form-field appearance="outline" class="full-width-input">
  <input matInput placeholder="First name" [(ngModel)] ="firstname" name="firstname">
</mat-form-field>
      </td>
  </tr>


<tr>
    <td>
<mat-form-field appearance="outline" class="full-width-input">
  <input matInput placeholder="Last name" [(ngModel)]="lastname" name="lastname">
</mat-form-field>
    </td>
  </tr>
<tr>
  <td>
<mat-form-field appearance="outline" class="full-width-input">
  <input matInput placeholder="Email" [(ngModel)]="email" name="email">
</mat-form-field>
</td>
</tr>
<tr>
  <td>
<mat-form-field appearance="outline" class="full-width-input">
  <input matInput placeholder="Change Password" type="password" [(ngModel)]="password" name="password">
</mat-form-field>
  </td>
</tr>
</table>
</form>

</mat-card-content>
<mat-card-actions>
  <button mat-raised-button (click)="update()">Submit</button>
</mat-card-actions>
