<mat-card>
  <mat-card-content>
    <h2>Settings</h2>
    <h3>Username</h3>
    <form class = "example-form">

<table class="full-width-input" cellspacing="0">
  <tr>
      <td>

<mat-form-field appearance="outline" class="full-width-input">
  <input matInput placeholder="First">
</mat-form-field>
      </td>
  </tr>
<!-- Set interpolation, when clicked change to input -->

<tr>
    <td>
<mat-form-field appearance="outline" class="full-width-input">
  <input matInput placeholder="Last">
</mat-form-field>
    </td>
  </tr>
<!-- Set interpolation, when clicked change to input -->
<tr>
  <td>
  <!-- Set interpolation, when clicked change to input -->
<mat-form-field appearance="outline" class="full-width-input">
  <input matInput placeholder="Email">
</mat-form-field>
</td>
</tr>
<tr>
  <td>
<mat-form-field appearance="outline" class="full-width-input">
  <input matInput placeholder="Change Password" type="password" >
</mat-form-field>
  </td>
</tr>
</table>
</form>

</mat-card-content>
<mat-card-actions>
<button mat-raised-button (click)="submit()">Submit</button>
</mat-card-actions>
<app-edit-teams></app-edit-teams>

