.angular-logo {
    margin: 0 9px 8px 0;
    height: 95px;
    vertical-align: bottom;
}
.fill-remaining-space {
  flex-grow: 2 2 auto;
}
.navbar{
  justify-content:space-between;
}
span{
  padding-right: 1rem;
  justify-content: right;
}
/* .example-fill remaining space{
  justify-content: right;
} */