<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
        </button>
        <h1>LEES Leagues</h1>
        <!-- <span class = "example-fill remaining space"></span> -->
        <span class = "align-center"></span>
        <span class = "menu-spacer"></span>
            <div>
                <a mat-button [routerLink]="'/'">Login or Register</a>
                <a mat-button [routerLink]="'/home'"> Home </a>
                <a mat-button [routerLink]="'/league'"> League </a>
                <a mat-button [routerLink]="'/league_search'"> League Search </a>
                <a mat-button [routerLink]="'/team'"> Team </a>
                <a mat-button [routerLink]="'/team_search'"> Team Search </a>
                <a mat-button [routerLink]="'/settings'"> Settings </a>
            </div>
    </mat-toolbar-row>
</mat-toolbar>
